
<!DOCTYPE html>
<html>
<head>
    <title>Web Log Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Web Log Analyzer</h1>
    {% if error_message %}
        <p style="color: red;"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <label>Paste log text:</label><br>
        <textarea name="log_text" rows="12" cols="80"></textarea><br><br>

        <label>Or upload a log file:</label><br>
        <input type="file" name="log_file"><br><br>

        <label>Keyword filter:</label><br>
        <input type="text" name="keyword" placeholder="failed" autocomplete="new_password"><br><br>
        
        <label>Quick presets:</label><br>
        
        <button type="button" onclick="document.getElementsByName('keyword')[0].value='critical'">Critical</button>
        <button type="button" onclick="document.getElementsByName('keyword')[0].value='error'">Error</button>
        <button type="button" onclick="document.getElementsByName('keyword')[0].value='warning'">Warning</button>
        <button type="button" onclick="document.getElementsByName('keyword')[0].value='login'">Login</button>
        <button type="button" onclick="document.getElementsByName('keyword')[0].value=''">Clear</button>

        <br><br>
        
        <label class="checkbox-label">
            <input type="checkbox" name="case_sensitive">
            Case-sensitive search
        </label>
        <br><br>
        
        <label>Log levels:</label><br>

        <label class="checkbox-label">
            <input type="checkbox" id="level_critical" name="levels" value="CRITICAL" checked>
            CRITICAL
        </label><br>

        <label class="checkbox-label">
            <input type="checkbox" id="level_error" name="levels" value="ERROR" checked>
            ERROR
        </label><br>

        <label class="checkbox-label">
            <input type="checkbox" id="level_warning" name="levels" value="WARNING" checked>
            WARNING
        </label><br>

        <label class="checkbox-label">
            <input type="checkbox" id="level_info" name="levels" value="INFO" checked>
            INFO
        </label><br>

        <label class="checkbox-label">
            <input type="checkbox" id="level_debug" name="levels" value="DEBUG" checked>
            DEBUG
        </label><br>

        <label class="checkbox-label">
            <input type="checkbox" id="level_trace" name="levels" value="TRACE" checked>
            TRACE
        </label><br>
                
        <label>Start datetime:</label><br>
        <input type="text" id="start_datetime" name="start_datetime" placeholder="2026-5-26 10:00:00" autocomplete="new_password"><br><br>

        <label>End datetime:</label><br>
        <input type="text" id="end_datetime" name="end_datetime" placeholder="2026-5-26 12:00:00" autocomplete="new_password"><br><br>
                
        <button type="submit">Analyze</button>
        <button type="button" onclick="clearForm()">Reset Filters</button>
    </form>
    </div>
<script>
function clearForm() {
    document.querySelector("form").reset();

    
    document.querySelector("[name='log_text']").value = "";
    document.querySelector("[name='keyword']").value = "";
    document.querySelector("[name='start_datetime']").value = "";
    document.querySelector("[name='end_datetime']").value = "";
    document.querySelector("[name='log_file']").value = "";
    
    document.querySelectorAll("input[type='checkbox']").forEach(function(box) {
        box.checked = false;
    });
}

</script>
</body>
</html>






